<!doctype html>
<meta charset=utf-8>
<meta name=viewport content='width=device-width'>
<link rel="icon" type="image/x-icon" href="/favicon.ico">
{{ var title = path.slice(path.lastIndexOf('/') + 1) || 'The File Tree'; }}
<title> {{= title in html}} </title>

<link rel=stylesheet href=/lib/css/ui.css>

{{
var nav = [];
var subpath = '/';
var crumbs = path.split('/').filter(function(e) { return e.length > 0; });
var subpath = '/';
nav.push({name: '', path: subpath});
for (var i = 0; i < crumbs.length; i++) {
  subpath += crumbs[i] + '/';
  nav.push({name: crumbs[i], path: subpath});
}
}}
<body class=folderapp>
<form id=toolbar action=javascript:void(0) autocomplete=off>{{for i, crumb in nav {{
  <a href='{{= crumb.path in path in xmlattr}}'
     class="item crumb {{if i==0 then root-crumb
  }}">{{= crumb.name in html}}</a>}}}}
  <input id=search type=search placeholder=search… class=item autofocus>
  <a class=item id=newtext title='create file'>+<img src=/lib/icons/file_lines.png></a>
  <a class=item id=newfolder title='create folder'>+<img src=/lib/icons/folder.png></a>
  <a class='item filemenu' id=deletefiles><img src=/lib/icons/bin.png></a>
  <a class='item filemenu' id=conffile><img src=/lib/icons/cogwheel.png></a>
  <a class="item right" id=settings title=settings
    href='{{= path in path in xmlattr}}?app=meta'>
    <img src=/lib/icons/settings.png>
  </a>
  <a class="item right" id=upload title='upload files'><img src=/lib/icons/cloud_up.png></a>
</form>

<form id=upform action="{{= path in xmlattr}}" enctype=multipart/form-data method=post target=uploader class=hidden>
  <input name=op value=append type=hidden>
  <input name=content type=file multiple=multiple>
  <iframe id=uploader name=uploader class=hidden></iframe>
</form>

{{
var files = [];
for (var filename in data) {
  var file = data[filename];
  file.name = filename;
  file.path = (path.length === 1 ? '' : path) + '/' + filename;
  if (file.meta.type === 'folder') { file.path += '/'; }
  files.push(file);
}
}}
<div id=filelist class=panel>{{for file in
  {{files.sort(function(f1, f2) { return f2.modified - f1.modified })}} {{
  <li class={{if file.meta.type==='folder' then folder else file}}><a {{#
    We do not want the menu to appear upon selecting the file for editing.
    }}onclick='event.stopPropagation()' href='{{=
      file.path in path in xmlattr}}'>{{= file.name in html}}</a>}}}}
</div>

<script>var folderContent = {{= JSON.stringify(data) in script}}</script>
<script src=/lib/js/scout.js></script>
<script src=/lib/js/folder.js></script>

<!-- Google Analytics -->
<script>var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-27876347-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})()</script>
